/* ----------------
   DND Variables
   ---------------- */
:root {
  --dnd-switch-bg: rgb(60, 56, 54); /* Gruvbox Grey */
  --dnd-switch-hover: rgb(80, 73, 69);
  --dnd-switch-checked-bg: rgb(211, 134, 155); /* Gruvbox Purple or use Orange #e78a4e */
  --dnd-thumb-bg: rgb(212, 190, 152); /* FG */
  --dnd-thumb-checked-bg: rgb(40, 40, 40); /* BG */
  --dnd-border-radius: 8px;
}

/* ------
   Label
   ------ */
.widget-dnd > label {
  margin: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
}

/* --------------------------
   Toggle (Switch) Container
   -------------------------- */
.widget-dnd switch {
  background-color: var(--dnd-switch-bg);
  border-radius: var(--dnd-border-radius);
  margin: 12px;
  box-shadow: none;
  transition: background 0.15s ease-in-out;
}

.widget-dnd switch:hover {
  background-color: var(--dnd-switch-hover);
}

.widget-dnd switch:checked {
  background-color: var(--dnd-switch-checked-bg);
}

/* ----------------------
   Thumb (Slider Handle)
   ---------------------- */
.widget-dnd switch slider {
  background-color: var(--dnd-thumb-bg);
  border-radius: var(--dnd-border-radius);
}

.widget-dnd switch:checked slider {
  background-color: var(--dnd-thumb-checked-bg);
}
